:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../img/header-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 10%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 55rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 200;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 95%;
  border-radius: 8px 68px 8px 8px;
  box-shadow: 12px 12px 40px 3px rgba(85, 70, 70, 0.5);
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

/* Menu Section */

.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 350;
  line-height: 1.6;
  font-size: 1.1rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin-top: 1rem auto 0.5rem;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 0.5rem;
}

/* Footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 1rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Order style */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.d-flex {
  display: flex;
  flex-direction: row;
  background: #b48454;
  border-radius: 10px;
  padding: 25px;
}

.form-order {
  flex: 4;
}

.Yorder {
  flex: 2;
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}

.title span {
  color: var(--primary);
}

h2 {
  margin: 0;
  padding-left: 15px;
}

.required {
  color: red;
}

label,
table {
  display: block;
  margin: 15px;
}

label > span {
  font-size: 1.2rem;
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}

.form-order input,
select {
  width: 70%;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #362828;
}

select {
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.Yorder {
  margin-top: 15px;
  padding: 20px;
  border: 1px solid #dadada;
}

.title_your_order {
  font-size: 1.5rem;
}

table {
  margin: auto;
  padding: 0;
}

th {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}

td {
  min-width: 150px;
  border-bottom: 1px solid #dadada;
  padding: 15px 15px 15px 0;
}

td:nth-child(1) {
  width: 70%; /* Misalnya, dapat diubah sesuai kebutuhan */
  text-align: left;
  font-size: 1.2rem;
}

td:nth-child(2) {
  width: 30%; /* Misalnya, dapat diubah sesuai kebutuhan */
  font-size: 1.2rem;
  text-align: right;
  color: #73ffe3;
}

.Yorder > div {
  padding: 15px 0;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count .count-button {
  padding: 0 15px;
  font-size: 2rem;
  cursor: pointer;
  background-color: #52ad9c;
  border-radius: 20px;
}

.count .count-button:hover {
  cursor: pointer;
  background: #428a7d;
}

.count input {
  height: 25px;
  width: 50px;
  text-align: center;
  margin: 0 10px 0 10px;
  border-radius: 30px;
}

.order-button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.order-button:hover {
  cursor: pointer;
  background: #428a7d;
}

/* Media Queries For Rensponsive */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f0f8ff;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.3);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 2rem;
  }

  .menu p {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }

  .container {
    margin-top: 15%;
  }

  .d-flex {
    flex-direction: column;
    padding: 5px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .container {
    margin-top: 20%;
  }
}
